[submodule "azcopy"]
	path = azcopy
	url = https://github.com/wastoresh/azure-storage-azcopy-pr.git
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/wastoresh/azure-powershell.git
[submodule "Xplat"]
	path = Xplat
	url = https://github.com/wastoresh/azure-xplat-cli.git
